package layouts

templ Footer() {
	<footer>
		<section>
			<div>
				<p><strong>Shawn Gordon Becker</strong></p>
				<p>Baseler Str 38</p>
				<p>12205 Berlin</p>
			</div>
			<div>
				<p><strong>tel: <a>+49 170 966 47 25</a></strong></p>
				<p><strong>email: <a>contact@shawnbecker.de</a></strong></p>
			</div>
		</section>
		<p>Copyright 2025 Shawn Gordon Becker</p>
	</footer>
}
