.experience-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.ecperinece-card {
  display: flex;
  flex-direction: column;
}

.edu {
  background-color: var(--paper-light);
}
