.experience-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
}

.experience-card {
  display: flex;
  flex-direction: column;
}

.edu {
  background-color: var(--paper-light);
}
