/* Project Details Lists */
.project-details-list dt {
  font-family: "Overpass Mono", monospace;
  font-weight: 600;
  color: var(--primary);
  margin-top: 1rem;
  font-size: 1em;
  margin-bottom: 0.35rem;
}

.project-details-list dd {
  margin-inline-start: 0;
  margin-bottom: 1rem;
  padding-inline-start: 0;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
