package components

import "mymodules/gofolio/i18n"

// Dein Import für das i18n-Paket, das PageContext enthält
templ Home(pCtx i18n.PageContext) {
@BaseHtml(pCtx) {
// Wichtig: pCtx hier an BaseHtml weitergeben!
<section id="home">
  <header>
    <h1>{ pCtx.T("home.header.title") }</h1>
    <p>{ pCtx.T("home.header.subtitle") }</p>
  </header>
  <p>
    { pCtx.T("home.intro.p1") }
  </p>
  <p>
    { pCtx.T("home.intro.p2") }
  </p>
  <p>
    { pCtx.T("home.intro.p3") }
  </p>
</section>
}
}
