@import "./css/base.css";
@import "./css/nav.css";
@import "./css/footer.css";
@import "./css/icons.css";
@import "./css/arts.css";
@import "./css/projects.css";
@import "./css/home.css";
@import "./css/contact.css";
@import "./css/experience.css";
